@define-color bar-bg #000000;      /* Change bar background here */
@define-color main-accent #D2D8E6; /* Change all text/icon colors here */

* {
  background-color: @bar-bg;
  color: @main-accent;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio{
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
  margin-left: 12px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-arch {
 padding: 0 6px;
  margin-right: 5px;
  min-width: 12px;
  font-size: 16px;
}
